body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: system-ui;
  font-size: 24px;
  background-color: #0C4767;
  align-content: center;
  padding: 1em;
}

.TitleSection {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #0C4767;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #e7e7e6;
  background-color: #7F675B;
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  margin: 0 auto;
  border: 1px solid #e7e7e6;
  padding: 1rem 5rem;
  text-align: center;
  background-color: #e7e7e6;
  color: #0C4767;
  border-radius: 15px;
}

.DisplaySection img{
  width: 30vh;
}

.DisplaySection h1, .DisplaySection h3, .DisplaySection h4{
  margin-block-start: 0em;
  margin-block-end: 0.15em;
}